<VirtualHost *:{{ http_port }}>
        ServerAdmin {{ serverAdmin }}
        ServerName {{ http_host }}
        DocumentRoot /var/srv/{{ http_host }}
        ErrorLog ${APACHE_LOG_DIR}/{{ http_host }}.error.log
        CustomLog ${APACHE_LOG_DIR}/{{ http_host }}.access.log combined

        {% if LimitRequestFieldSize %}   
        LimitRequestFieldSize {{ LimitRequestFieldSize }}
        {% endif %}

        SSLProxyCheckPeerCN off
        SSLProxyCheckPeerExpire off
        SSLProxyCheckPeerName off
        SSLProxyEngine On
        SSLProxyVerify none
        ProxyPreserveHost On
        ProxyRequests off
        #RequestHeader set X-Forwarded-Proto https

        {% if SSO_ACTIVE %}
        OIDC SSO module - put these in each Location directive for seperate clients per app.
        OIDCCryptoPassphrase {{ SSO_CryptoPassphrase }}
        OIDCProviderMetadataURL {{ SSO_OIDCProviderMetadataURL }}
        OIDCClientID {{ SSO_OIDCClientSecret }}
        OIDCClientSecret {{ SSO_OIDCClientSecret }}
        OIDCRemoteUserClaim {{ SSO_OIDCRemoteUserClaim }}
        {% endif %}

        {% if SPLASH_ACTIVE %}
        ### Splash page !! Unprotected !! - Use for 'You've been signed out page' then redirect to login portal.
        <Location {{ SPLASH_LOCATION }}>
                Satisfy Any
                Allow from all
                DirectoryIndex index.html
        </Location>
        {% endif %}
        
        {% if SIAB_ACTIVE %}
        ### Shell-in-a-box
        <Location {{ SIAB_PATH }}>
                AuthType openid-connect
                Require valid-user
                ProxyPass               {{ SIAB_PROXY }}         {{ SIAB_PROXY_TARGET }}
                ProxyPassReverse        {{ SIAB_PROXY }}         {{ SIAB_PROXY_TARGET }}

                ErrorLog ${APACHE_LOG_DIR}/{{ SIAB_LOG_NAME }}.error.log
                CustomLog ${APACHE_LOG_DIR}/{{ SIAB_LOG_NAME }}.access.log combined
                
        </Location>
        {% endif %}

        {% if DELUGE_ACTIVE %}
        ### Deluge
        ProxyPass                       {{ DELUGE_PROXY }}              {{ DELUGE_PROXY_TARGET }}
        ProxyPassReverse                {{ DELUGE_PROXY }}              {{ DELUGE_PROXY_TARGET }}
        ProxyPassReverseCookiePath      /                               {{ DELUGE_PROXY }}
        RequestHeader set X-Deluge-Base "{{ DELUGE_PROXY }}/"

        ErrorLog ${APACHE_LOG_DIR}/{{ DELUGE_LOG_NAME }}.error.log
        CustomLog ${APACHE_LOG_DIR}/{{ DELUGE_LOG_NAME }}.access.log combined     
        {% endif %}

        {% if NODE_ACTIVE %}
        ### Node
        ProxyPass               {{ NODE_PROXY }}                {{ NODE_PROXY_TARGET }}
        ProxyPassReverse        {{ NODE_PROXY }}                {{ NODE_PROXY_TARGET }}
        ProxyPass               {{ NODE_PROXY_COMMS }}          {{ NODE_PROXY_COMMS_TARGET }}
        ProxyPassReverse        {{ NODE_PROXY_COMMS }}          {{ NODE_PROXY_COMMS_TARGET }}
        AllowEncodedSlashes NoDecode

        ErrorLog ${APACHE_LOG_DIR}/{{ NODE_LOG_NAME }}.error.log
        CustomLog ${APACHE_LOG_DIR}/{{ NODE_LOG_NAME }}.access.log combined
        {% endif %}

	SSLCertificateFile /etc/letsencrypt/live/{{ http_host }}/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/{{ http_host }}/privkey.pem
	Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>
