<VirtualHost *:{{ http_port }}>
    ServerAdmin {{ serverAdmin }}
    ServerName {{ http_host }}
    DocumentRoot /var/srv/{{ http_host }}
    ErrorLog ${APACHE_LOG_DIR}/{{ http_host }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ http_host }}.access.log combined

    {% if LimitRequestFieldSize %}   
    LimitRequestFieldSize {{ LimitRequestFieldSize }}
    {%endif %}
    
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerExpire off
    SSLProxyCheckPeerName off
    SSLProxyEngine On
    SSLProxyVerify none
    ProxyPreserveHost On
    ProxyRequests off
    RequestHeader set X-Forwarded-Proto https

    # HomeAssistant
    ProxyPass               /api/websocket      ws://{{ HASS_PROXY_TARGET }}/api/websocket
    ProxyPassReverse 	    /api/websocket      ws://{{ HASS_PROXY_TARGET }}/api/websocket
    ProxyPass               {{ HASS_PROXY }}    http://{{ HASS_PROXY_TARGET }}/
    ProxyPassReverse        {{ HASS_PROXY }}    http://{{ HASS_PROXY_TARGET }}/

    SSLCertificateFile /etc/letsencrypt/live/{{ http_host }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ http_host }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf

</VirtualHost>